ion-list {
  padding: 0;
}
ion-select {
  padding: 5px 10px 0;
  color: var(--ion-color-primary);
}

ion-select::part(icon) {
  transform: scale(2);
}

ion-select::part(placeholder) {
  padding: 0 10px;
  font-weight: 900;
}

h3,
p {
  color: #da9e06;
}

h3 {
  font-weight: 900;
}
