ion-select {
  color: var(--ion-color-dark);
  padding: 0;
}

ion-select::part(icon) {
  transform: scale(1.5);
  padding-right: 5px;
}

ion-select::part(placeholder) {
  padding: 0 10px;
  font-weight: 900;
}
