<ion-header>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="onGoBack()">
              <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title *ngIf="isLoading"> Loading... please wait </ion-title>
          <ion-title *ngIf="!isLoading"> {{product.subcategory}} </ion-title>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-progress-bar
    *ngIf="isLoading"
    type="indeterminate"
    color="danger"
  ></ion-progress-bar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="isLoading">
    <ion-row sizeSm="6" offsetSm="3">
      <ion-col sizeSm="6" offsetSm="3" class="ion-text-center no_content">
        <div>
          <ion-spinner color="primary" name="dots"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading" class="ion-no-padding">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <ion-img [src]="product.img"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-end">
        <ion-select placeholder="Actions" (ionChange)="handleChange($event)">
          <ion-select-option value="edit">Edit</ion-select-option>
          <ion-select-option value="delete">Delete </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size-sm="6"
        offset-sm="3"
        class="ion-text-start"
        class="ion-padding-horizontal"
      >
        <h3 class="ion-no-margin">{{product.name}}</h3>
        <p>{{ product.description }}</p>
        <p class="ion-text-end">{{product.price | currency :'EUR'}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
