<ion-app>
  <!-- MENU -->
  <ion-menu side="start" contentId="menuContent">
    <ion-header>
      <ion-toolbar lines="none">
        <ion-title color="light"> Restaurant </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/restaurant">
            <ion-icon color="danger" slot="start" name="home"></ion-icon>
            <ion-label color="danger">Home</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/products">
            <ion-icon color="danger" slot="start" name="restaurant"></ion-icon>
            <ion-label color="danger">Menu</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/contact">
            <ion-icon
              color="danger"
              slot="start"
              name="information-circle"
            ></ion-icon>
            <ion-label color="danger">Contact</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none">
            <ion-icon color="danger" slot="start" name="log-out"></ion-icon>
            <ion-label color="danger">Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!-- CONTENT -->
  <ion-router-outlet main id="menuContent"></ion-router-outlet>
  <ion-content>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="restaurant">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="products" routerLink="/products">
          <ion-icon name="restaurant-outline"></ion-icon>
          <ion-label>Menu</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="contact">
          <ion-icon name="information-circle-outline"></ion-icon>
          <ion-label>Contact</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</ion-app>
