ion-card {
  margin: auto;
  border-radius: 10px;
  cursor: pointer;
  width: 80%;
  height: 100%;
}

ion-card-title {
  font-weight: 900;
  font-size: 1.5em;
}

span {
  color: #da9e06;
  font-weight: 600;
}
