.no_content {
  height: 80vh;
}

.no_content > div {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ion-item-options > span {
  background-color: red;
}
