<ion-header>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
          </ion-buttons>
          <ion-title color="light">Menu </ion-title>
          <ion-buttons slot="primary">
            <ion-button routerLink="/products/create">
              <ion-icon name="add" slot="icon-only" color="light"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-progress-bar
    *ngIf="isLoading"
    type="indeterminate"
    color="danger"
  ></ion-progress-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3" class="ion-text-center no_content">
        <div>
          <ion-spinner color="primary" name="dots"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoading && products.length <= 0">
      <ion-col sizeSm="6" offsetSm="3" class="ion-text-center no_content">
        <div>
          <p>
            There is not products in your database! <br />
            Please create one first!
          </p>

          <ion-button color="primary" routerLink="/products/create"
            >Add New Product</ion-button
          >
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && products.length > 0">
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3" class="ion-text-center">
        <ion-card
          class="ion-text-start card_container"
          [routerLink]="['/','products','detail',products[randomId].id]"
        >
          <ion-img
            [src]="products[randomId].img"
            [alt]="products[randomId].name"
            style="width: 100%; height: 200px"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>{{products[randomId].name}}</ion-card-title>
            <ion-note>{{products[randomId].subcategory}}</ion-note>
            <ion-card-subtitle
              >{{products[randomId].description}}</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content class="ion-text-end">
            <span>{{products[randomId].price | currency :'EUR'}}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of products">
      <ion-col
        sizeSm="6"
        offsetSm="3"
        class="ion-text-center"
        *ngIf="item.category === 'food' "
      >
        <ion-list *ngIf="!isLoading && products.length > 0">
          <ion-item-sliding #slidingItem>
            <span>
              <app-product-item [product]="item"></app-product-item>
            </span>

            <ion-item-options side="end">
              <ion-item-option
                (click)="onEdit(item.id, slidingItem)"
                color="warning"
              >
                <ion-icon name="create-outline"></ion-icon>
              </ion-item-option>
              <ion-item-option
                (click)="onConfirmDeleteProduct(item.id, slidingItem)"
                color="danger"
              >
                <ion-icon name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3" class="ion-text-center">
        <ion-icon
          name="chevron-up-outline"
          (click)="scrollToTop()"
          color="primary"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
