form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

p {
  padding: 0 16px;
  margin: 0;
  font-size: 12px;
  color: var(--ion-color-danger);
}
ion-col {
  padding: 0;
}

::ng-deep .action-sheet-group {
  max-height: 40%;
}
