ion-content {
  --background: #fff
    url("https://img.freepik.com/foto-gratis/tacos-tradicionales-mexicanos-carne-verduras-aislado-sobre-fondo-blanco_123827-19909.jpg?w=2000")
    no-repeat center center / 125%;
}

.title_content {
  color: rgb(217, 150, 27);
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0vh;
}

h1 {
  color: rgb(206, 75, 75);
  font-size: 6em;
  margin: 0;
  margin-top: -20px;
}

h2 {
  font-size: 2.6em;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.24em;
  text-align: start;
  margin-top: -10px;
}

.buttons_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: 25vh;
}

.btn_book {
  --background: rgb(206, 75, 75);
}

.btn_menu {
  --background: rgb(255, 255, 255);
  --border-color: rgb(206, 75, 75);
  --color: rgb(206, 75, 75);
}

@media only screen and (min-width: 600px) {
  ion-content {
    --background: #fff
      url("https://img.freepik.com/foto-gratis/tacos-tradicionales-mexicanos-carne-verduras-aislado-sobre-fondo-blanco_123827-19909.jpg?w=2000")
      no-repeat center center / 75%;
  }
}

@media only screen and (min-height: 740px) {
  .title_content {
    top: 6vh;
  }

  .buttons_container {
    top: 30vh;
  }
}
@media only screen and (min-height: 800px) {
  .title_content {
    top: 10vh;
  }

  .buttons_container {
    top: 35vh;
  }
}
@media only screen and (min-height: 1024px) {
  .title_content {
    top: 15vh;
  }

  .buttons_container {
    top: 40vh;
  }
}
@media only screen and (min-width: 800px) {
  .buttons_container {
    top: 35vh;
  }
}
@media only screen and (min-width: 1024px) {
  .buttons_container {
    top: 40vh;
  }
}
@media only screen and (min-width: 1682px) {
  ion-content {
    --background: #fff
      url("https://img.freepik.com/foto-gratis/tacos-tradicionales-mexicanos-carne-verduras-aislado-sobre-fondo-blanco_123827-19909.jpg?w=2000")
      no-repeat center center / 55%;
  }
}
